.detail-box{
    color: black;
    margin-top: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    padding: 10px;
}
.iframe-pay{
    min-height: 350px;
    height: auto;
    border: 0px;
    margin-top:10px;
    width: 100%;
}