<ion-content class="hidden-xs d-none d-sm-block">
  <section id="homeBanner" class="section section--borderless">
    <div id="myDIV" style="display:none">
      <div class="container">
      <div class="tutupnya" onclick="myFunction()"><i class="fas fa-times-circle fa-2x"></i></div>
      </div>
      <div class="form_wrapper">
        <div class="form_container">
          <iframe ng-onload="myLoadEvent()" async src="https://bookings.wickedcampers.com.au/bookingminicomnew" loading="lazy" seamless="seamless" scrolling="no" style="width:100%;height:205px;border:none;"></iframe>
      </div>
      </div>
  </div>
    <div class="wck-homepage">
      <div class="home">
        <div class="lazy bannercontact" data-loader="asyncLoader">
          <div class="slick-slider">
            <div class="slick-slide">
              <div class="desc-wrapper">
          
          </div>
         
        </div>
        </div>
      </div>
      </div>   
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="col-md-12">
            <ul class="breadcrumb">
                
            </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
      
      <div class="custom-rich-text module  module--padding-medium  module--bg-blue  module--on-dark">
       
       

        <div class="module__inner constrain" style="padding-top: 0px;">
          
      
          <div class="module__section-main module__section-main--block-align-center">
            <div class="module__content module__content--text-align-center constrain--7">
              <div class="custom-rich-text__content-inner">
                <h1 class="display--2">Wanna Hire a Campervan?</h1>
      <p class="h3"> Contact Wicked Campers Australia...we talk the dirtiest! Wicked Campers began in 2001 in sunny Brisbane, Australia by a flock of psychedelic seagulls. The gulls discovered that if they ate certain seeds & berries, they could defecate intense colours and patterns on passing vehicles, thus changing the landscape of Australian Highways forever. please select an Option below that corresponds with your enquiry.      </p>
      <ul class="btn-group btn-group--center">
      <ul class="btn-group btn-group--center">
      <li><a href="locations" class="cta-btn cta-btn--green-fill red-gradient" rel=" noopener">View our Locations</a></li>
      <li><a href="/p/faq" class="callUsCTA" style="display: list-item;" class="cta-btn cta-btn--blue-fill">Frequently Asked Questions</a></li>
      
      </ul>
      </ul>
              </div>
      
              
            </div>
          </div>
      
          
        </div>

       
      </div>
     

      
      <div class="contact-section-wrapper hs-page-width-normal">
        <div class="contact-box-wrapper">

        <div class="contact-box">
        <img class="contact-box-item logo" src="../../assets/images/choose.svg">
        <span class="contact-box-item title">Book Online</span>
        <span class="contact-box-item blurb"><a href="https://www.wickedcampers.com.au">Click Here</a> to Check Prices Instantly and Book Online. All payments are performed securely.</span>
        </div>
        <div class="contact-box">
          <img class="contact-box-item logo" src="../../assets/images/email.svg">
          <span class="contact-box-item title" >Email Us</span>
          <span class="contact-box-item blurb"><button class="bening" (click)="showModal()">Click Here</button> to send us an email enquiry about booking a campervan or 4WD Vehicle.</span>
          </div>

        <div class="contact-box">
        <img class="contact-box-item logo" src="../../assets/images/speech-bubble.svg">
        <span class="contact-box-item title">Live Chat</span>
        <span class="contact-box-item blurb"><a href="javascript:$zopim.livechat.window.show()">Click Here</a> to Chat Online Instantly with one of our super sexy Roadtrip Planners!</span>
        </div>
      
        </div>
        </div>
        
    </div>
</div>
</div>

</section>

  <div [innerHTML]="footer"></div>
</ion-content>

<ion-header no-border class="d-lg-none hidden-lg hidden-md">
  <ion-toolbar>
       <ion-buttons slot="start">
           <ion-back-button color="light" defaultHref="/"></ion-back-button>
       </ion-buttons>
       <ion-title class="ion-text-capitalize">Contact Us</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="d-lg-none hidden-lg hidden-md hidden-sm">
 
  <div class="home">
    <div class="bannercontact">
      <div class="slick-slider">
        <div class="slick-slide">
          <div class="desc-wrapper">
      
      </div>
     
    </div>
    </div>
  </div>
  </div>   
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="col-md-12">
            <ul class="breadcrumb">
                
            </ul>
            </div>
        </div>
    </div>
 
      <div class="custom-rich-text module  module--padding-medium  module--bg-blue  module--on-dark">
  

        <div class="module__inner constrain" style="padding-top: 0px;">
          
      
          <div class="module__section-main module__section-main--block-align-center">
            <div class="module__content module__content--text-align-center constrain--7">
              <div class="custom-rich-text__content-inner">
                <h1 class="display--2">Wanna Hire a Campervan?</h1>
      <p class="h3"> Contact Wicked Campers Australia...we talk the dirtiest! Wicked Campers began in 2001 in sunny Brisbane, Australia by a flock of psychedelic seagulls. The gulls discovered that if they ate certain seeds & berries, they could defecate intense colours and patterns on passing vehicles, thus changing the landscape of Australian Highways forever. please select an Option below that corresponds with your enquiry.      </p>
      <ul class="btn-group btn-group--center">
      <ul class="btn-group btn-group--center">
      <li><a href="locations" class="cta-btn cta-btn--green-fill red-gradient" rel=" noopener">View our Locations</a></li>
      <li><a href="/p/faq" class="callUsCTA" style="display: list-item;" class="cta-btn cta-btn--blue-fill">Frequently Asked Questions</a></li>
      
      </ul>
      </ul>
              </div>
      
              
            </div>
          </div>
      
          
        </div>
      </div>
      <div class="contact-section-wrapper hs-page-width-normal">
        <div class="contact-box-wrapper">
          <!--
        <div class="contact-box">
        <img class="contact-box-item logo" src="../../assets/images/choose.svg">
        <span class="contact-box-item title">Book Online</span>
        <span class="contact-box-item blurb">Click HERE to Check Prices Instantly and Book Online. All payments are performed securely.</span>
        </div>
        <div class="contact-box">
          <img class="contact-box-item logo" src="../../assets/images/email.svg">
          <span class="contact-box-item title">Email Us</span>
          <span class="contact-box-item blurb">Click HERE to send us an email enquiry about booking a campervan or 4WD Vehicle.</span>
          </div>

        <div class="contact-box">
        <img class="contact-box-item logo" src="../../assets/images/speech-bubble.svg">
        <span class="contact-box-item title">Live Chat</span>
        <span class="contact-box-item blurb">Click HERE to Chat Online Instantly with one of our super sexy Roadtrip Planners!</span>
        </div>-->

        <div class="col-xs-12">
          <img class="contact-box-item logo" src="../../assets/images/choose.svg">
        <span class="contact-box-item title">Book Online</span>
        <span class="contact-box-item blurb"><button class="bening" (click)="showModalx()">Click Here</button>  to Check Prices Instantly and Book Online. All payments are performed securely.</span>
        </div>
        <div class="col-xs-12">
          <img class="contact-box-item logo" src="../../assets/images/email.svg">
          <span class="contact-box-item title">Email Us</span>
          <span class="contact-box-item blurb"><button class="bening" (click)="showModal()">Click Here</button> to send us an email enquiry about booking a campervan or 4WD Vehicle.</span>
        </div>
        <div class="col-xs-12">
          <img class="contact-box-item logo" src="../../assets/images/speech-bubble.svg">
          <span class="contact-box-item title">Live Chat</span>
          <span class="contact-box-item blurb"><a href="javascript:void(0);" id="showWidget" onclick="zE(function() {zE.show();});">Click Here</a> to Chat Online Instantly with one of our super sexy Roadtrip Planners!</span>
        </div>
      
        </div>
        </div>
    
</div>
   
    </ion-content>
