<ion-tabs>

  <ion-tab-bar slot="bottom" class="d-lg-none hidden-lg hidden-sm hidden-xl hidden-md">
    <ion-tab-button class="red" tab="">
      <ion-icon src="../assets/img/home-run.svg"></ion-icon>
      <ion-label color="dark">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="our-vehicles">
       <ion-icon src="../assets/img/route.svg"></ion-icon>
      <ion-label color="dark">Vehicles</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="locations">
      <ion-icon src="../assets/img/map.svg"></ion-icon>
     <ion-label color="dark">Locations</ion-label>
   </ion-tab-button>
    <ion-tab-button tab="mybooking">
       <ion-icon src="../assets/img/choices.svg"></ion-icon>
      <ion-label color="dark">Online Check-in</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
