<ion-header no-border class="hidden-lg">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-center class="ion-text-capitalize" >Buy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="hidden-lg">
 
        <div class="tixpoint">
          <div class="tixcard">
          
            <div class="tix-list-menu">
              <ul>
                <li class="pay">
                  <a routerLink="/p/buying-from-wicked" routerDirection="forward">Buy From Wicked</a>
                </li>
                <li class="moneyback">
                  <a routerLink="/p/buyback-guarantee" routerDirection="forward">Buyback Guarantee</a>
                </li>
                <li class="campersale">
                  <a routerLink="/p/campervans-for-sale" routerDirection="forward">Campervan For Sale</a>
                </li>
                <li class="carsale">
                  <a routerLink="/p/cars-for-sale" routerDirection="forward">Car For Sale</a>
                </li>
              </ul>

            </div>
           
          </div>
        </div>
	
	
 
  <!--<ion-infinite-scroll (ionInfinite)="loadPokemon(true, $event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more Campervan...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
 
</ion-content>