<ion-content class="">
   
   
      
      
      <div class="warnabody">
      <div class="kosong">
        <aside>
          <picture>
            <source srcset="https://res.cloudinary.com/ddnzpxj6t/image/upload/v1599901361/Mirror.webp" type="image/webp">
            <source srcset="https://res.cloudinary.com/ddnzpxj6t/image/upload/v1599901361/Mirror.png" type="image/png"> 
            <img src="images.jpg" alt="404 Image" />
          </picture>
        </aside>
        <main>
          <h1>Sorry!</h1>
          <p>
            The page you were looking for wasn't found<br>
            <em>Error 404 - Page Not Found</em>
          </p>
          <button><a href="/" style="color:black;"><b>Return to home page</b></a></button>
        </main>
      </div>
    </div>
    



  <div [innerHTML]="footer"></div>
</ion-content>
