<ion-content class="hidden-xs">
  <div class="landing-desktop hidden-xs pad-top-booking">
    <div class="hero-section"></div>
    <div class="container">
      <div class="row" *ngIf="dataload == false">
        <div class="colxs-12 center loader"></div>
        <div class="col-xs-12 text-center text-loader">Just a moment...</div>
      </div>
      <div class="col-xs-4">
        <div class="detail-box " style="padding-bottom: 20px;" *ngIf="dataload">
          <img src="{{thumbnail}}"/>
          <h2><b>Booking Details...</b></h2>
          <div class="row">
            <!--daily rate-->
            <div class="col-xs-12">
              <br><b>Daily Rate:</b>
            </div>
            <div class="col-xs-6">
              {{bookinfo.numberofdays}} Days @ {{bookinfo.currencyname}} {{rateinfo.dailyrateafterdiscount | currency}} 
            </div>
            <div class="col-xs-6 text-right">
              {{bookinfo.currencyname}} {{rateinfo.ratesubtotal | currency}}
            </div>
            <div class="col-xs-12" *ngIf="rateinfo.dailyratebeforediscount != rateinfo.dailyrateafterdiscount">
              <small class="text-red">{{rateinfo.discountdescription}}</small>
            </div>
          </div>
          <!--extrafee-->
          <div class="row">
            <div class="col-xs-12">
              <br><b>Extras Fee:</b>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              {{bookinfo.kmcharges_description}} 
            </div>
            <div class="col-xs-6 text-right">
              {{bookinfo.currencyname}} {{bookinfo.kmcharges_totalfordailyrate | currency}}
            </div>
          </div>
          <div class="row" *ngFor="let item of extrasfee">
            <div class="col-xs-6">
              {{item.name}} 
            </div>
            <div class="col-xs-6 text-right">
              {{bookinfo.currencyname}} {{item.totalfeeamount | currency}}
            </div>
          </div>
          <!--total-->
          <div class="row">
            <div class="col-xs-12 pull-left" style="top:10px;margin:10px;border-bottom: 1px solid;padding: 5px;"></div>
            <div class="col-xs-6">
              <b class="big-text">Total :</b>
            </div>
            <div class="col-xs-6 text-right">
              <b class="big-text bookcurcs" id="bookcurid">{{bookinfo.currencyname}}</b> <b class="big-text bookcostcs" id="bookcostid">{{bookinfo.totalcost | currency}}</b><br>
              <small><b>(<span *ngIf="bookinfo.isgstinclusive">inc</span> {{bookinfo.taxname1}} {{bookinfo.currencyname}} {{bookinfo.gst | currency}})</b></small>
            </div>
            <div class="col-xs-12">
              <b>Payment :</b>
            </div>
            <div class="col-xs-12" *ngFor="let pay of paymentinfo">
              <div class="col-xs-6" style="padding-left: 0px;">
                <small>{{pay.paymentdate}}</small> 
              </div>
              <div class="col-xs-6 text-right" style="padding-right: 0px;">
                <small>{{bookinfo.currencyname}} {{pay.paidamount | currency}}</small>
              </div>
            </div>
            <div class="col-xs-6">
              <b class="big-text">Balance :</b>
            </div>
            <div class="col-xs-6 text-right">
              <b class="big-text">{{bookinfo.currencyname}} {{bookinfo.balancedue | currency}}</b>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8">
        <div class="detail-box " style="padding:20px;" *ngIf="dataload">
          <h2><b>{{titlecf}}</b></h2>
          <p [innerHTML]="textcf"></p>
          <div class="row">
            
            <div class="col-xs-8">
              <div class="col-xs-6">Reservation Type :</div>
              <div class="col-xs-6">{{bookinfo.reservationtypedescription}}</div>
            
              <div class="col-xs-6">{{numberttl}}</div>
              <div class="col-xs-6"><b class="booknocs" id="booknoid">{{bookinfo.reservationdocumentno}}</b></div>

              <div class="col-xs-6">First Name :</div>
              <div class="col-xs-6">{{customerinfo.firstname}}</div>

              <div class="col-xs-6">Last Name :</div>
              <div class="col-xs-6">{{customerinfo.lastname}}</div>

              <div class="col-xs-6">Email :</div>
              <div class="col-xs-6">{{customerinfo.email}}</div>
            </div>
            <div *ngIf="paystat" class="col-xs-8" style="margin-top: 10px;">
              <div *ngIf="paystat" class="container alert alert-success" role="alert">
                <div class="col-xs-12"><b>Payment Detail</b></div>
                <div class="col-xs-6">Name:</div>
                <div class="col-xs-6">{{payres.name}}</div>
                <div class="col-xs-6">Card Number:</div>
                <div class="col-xs-6">{{payres.card}}</div>
                <div class="col-xs-6">Ammount:</div>
                <div class="col-xs-6">{{bookinfo.currencyname}} {{payres.ammount | currency}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>

<!--mobile-->
<ion-header no-border class="hidden-lg hidden-md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="text-center">Bookings Confirmation</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="hidden-lg hidden-md hidden-sm">
  <div class="row" *ngIf="dataload == false">
    
      <div class="country-wrap">
        <!--<div class="mountain-1"></div>
        <div class="mountain-2"></div>-->
        
        <div class="sun">Just a moment...</div>
        <div class="holder">
        <div class="car"></div>
        <div class="wheels"></div>
        <div class="wind-holder">
          <div class="wind"></div>
        </div>
        <div class="tree tree1"></div>
        <div class="tree tree2"></div>
        <div class="tree tree3"></div>
        <div class="hill hill1"></div>
        <div class="hill hill2"></div>
      </div>
      </div>
      
  </div>
  <div class="row" style="padding:10px;" *ngIf="dataload">
    <div class="col-xs-12">
      <details class="detail-box ">
        <summary class="title-mob"><b>Booking Details...</b></summary>
          <img src="{{thumbnail}}"/>
          <div class="row">
            <!--daily rate-->
            <div class="col-xs-12">
              <br><b>Daily Rate:</b>
            </div>
            <div class="col-xs-6">
              {{bookinfo.numberofdays}} Days @ {{bookinfo.currencyname}} {{rateinfo.dailyrateafterdiscount | currency}} 
            </div>
            <div class="col-xs-6 text-right">
              {{bookinfo.currencyname}} {{rateinfo.ratesubtotal | currency}}
            </div>
            <div class="col-xs-12" *ngIf="rateinfo.dailyratebeforediscount != rateinfo.dailyrateafterdiscount">
              <small class="text-red">{{rateinfo.discountdescription}}</small>
            </div>
          </div>
          <!--extrafee-->
          <div class="row">
            <div class="col-xs-12">
              <br><b>Extras Fee:</b>
            </div>
          </div>
          <div class="row" *ngFor="let item of extrasfee">
            <div class="col-xs-6">
              {{item.name}} 
            </div>
            <div class="col-xs-6 text-right">
              {{bookinfo.currencyname}} {{item.totalfeeamount | currency}}
            </div>
          </div>
          <!--total-->
          <div class="row">
            <div class="col-xs-12 pull-left" style="top:10px;margin:10px;border-bottom: 1px solid;padding: 5px;"></div>
            <div class="col-xs-6">
              <b class="big-text">Total :</b>
            </div>
            <div class="col-xs-6 text-right">
              <b class="big-text">{{bookinfo.currencyname}} {{bookinfo.totalcost | currency}}</b><br>
              <small><b>(<span *ngIf="bookinfo.isgstinclusive">inc</span> {{bookinfo.taxname1}} {{bookinfo.currencyname}} {{bookinfo.gst | currency}})</b></small>
            </div>
            <div class="col-xs-12">
              <b>Payment :</b>
            </div>
            <div class="col-xs-6">
              <b class="big-text">Balance :</b>
            </div>
            <div class="col-xs-6 text-right">
              <b class="big-text">{{bookinfo.currencyname}} {{bookinfo.balancedue | currency}}</b>
            </div>
          </div>
      </details>
    </div>
    <div class="col-xs-12">
      <div class="detail-box " style="padding:20px;" *ngIf="dataload">
        <h2><b>{{titlecf}}</b></h2>
        <p>{{textcf}}</p>
        <div class="row">
          <div class="col-xs-11">
            <div class="row">
              <div class="col-xs-6">Reservation Type :</div>
              <div class="col-xs-6">{{bookinfo.reservationtypedescription}}</div>
            </div>
              <div class="row">
              <div class="col-xs-6" >{{numberttl}}  </div>
            <div class="col-xs-6"><b>{{bookinfo.reservationdocumentno}}</b></div>
            </div>
              <div class="row">
              <div class="col-xs-6">First Name :</div>
            <div class="col-xs-6">{{customerinfo.firstname}}</div>
            </div>
            <div class="row">
              <div class="col-xs-6">Last Name :</div>
              <div class="col-xs-6">{{customerinfo.lastname}}</div>
            </div>
            <div class="row">
              <div class="col-xs-6">Email :</div>
              <div class="col-xs-6">{{customerinfo.email}}</div>
            </div>
            <div *ngIf="paystat" class="col-xs-12" style="margin-top: 10px;">
              <div *ngIf="paystat" class="container alert alert-success" role="alert">
                <div class="col-xs-12"><b>Payment Detail</b></div>
                <div class="col-xs-6">Name:</div>
                <div class="col-xs-6">{{payres.name}}</div>
                <div class="col-xs-6">Card Number:</div>
                <div class="col-xs-6">{{payres.card}}</div>
                <div class="col-xs-6">Ammount:</div>
                <div class="col-xs-6">{{bookinfo.currencyname}} {{payres.ammount | currency}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>